

/* 텍스트 활성화 */
.paragraph {
    position: sticky;
    top:30%;
    font-size: 50px;
    max-width: 1280px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    .word {
        margin-right: 12px;
        margin-top: 12px;
        position: relative;

        .shadow {
            position: absolute;
            opacity: 0.1;
        }
    }
}
/* 텍스트 활성화 */

/* 버튼 */
.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 링크 간의 간격 */
    padding-left: 20px; /* 좌측 여백 */
    margin-top: 20px; /* 상단 여백 */
}

.linkContainer > section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
}

.link {
    text-decoration: none;
    font-size: 18px; /* 텍스트 크기 */
    padding: 15px 0; /* 위아래 패딩 */
    width: 200px;
}
/* 버튼 */

/* 핀조명 */
.menu_list {
    margin: 200px auto 0 auto;
    width: 280px;

    position: relative;
}

.menu_item {
    background: gray;
    border: 1px solid gray;
    border-radius: 70px;
}

.menu_item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu_item li {
    position: relative;
    padding: 1em 1em;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    transition: color 0.3s ease-in-out;
}

.menu_item li:hover {
    color: var(--light-color);
    text-shadow: 0 2px 8px rgba(255, 234, 177, 0.7);
}

.wrap_spotlight + span {
    transition: color 0.3s ease-in-out;
    color: white;
}
.wrap_spotlight {
    position: absolute;
    // bottom: -0.2em;
    left: 10%;
    right: 0;
    width: 80%;
    height: 2em;
}
.circle {
    width: 100%;
    height: 6px;
    position: absolute;
    top: -50%;
    left: 0;
    background: white;
    border-radius: 10px;
}
.spotlight {
    // --light-color: #ffeab1;
    --light-color: #fff;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: screen;
    filter: blur(0.1em);
    opacity: 0.8;

    &::before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        height: 120%;
        background-image: linear-gradient(
            to bottom,
            var(--light-color),
            transparent
        );
        clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
        border-radius: 0 0 1em 1em;
    }
}

/* 핀조명 */

/* 마우스 휠 모션 */
.scroll {
    position: relative;
    display: block;
    font-size: 0.933rem;
    text-decoration: none;
    padding: 10px 10px 10px 40px;
    &::before {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 24px;
        height: 40px;
        // border: 2px solid rgba(255,255,255,1);
        border: 2px solid rgba(108, 34, 245, 1);
        border-radius: 12px;
        content: "";
    }
    &::after {
        display: block;
        position: absolute;
        top: 9px;
        left: 11px;
        width: 2px;
        height: 8px;
        background: rgba(108, 34, 245, 1);
        border-radius: 1px;
        content: "";
        animation-name: scroll;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        height: 8px;
    }
    20% {
        opacity: 1;
        height: 8px;
    }
    30% {
        transform: translateY(0);
        opacity: 1;
        height: 19px;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translateY(19px);
        opacity: 0;
        height: 0;
    }
    81% {
        transform: translateY(0);
        opacity: 0;
        height: 8px;
    }
    100% {
        opacity: 1;
        height: 8px;
    }
}
/* 마우스 휠 모션 */

/* 토글 버튼 */
.toggle_container {
    box-sizing: border-box;
}

.toggle_body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button_layout {
    position: fixed;
    display: flex;
    text-decoration: none;
    font-size: 18px; /* 텍스트 크기 */
    // color: white;
    margin: 35px 20px;
    z-index: 999;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.switch {
    // width: 160px;
    width: 280px;
    height: 45px;
    background-color: rgba(85, 81, 81, 0.4);
    display: flex;
    position: relative;
    justify-content: flex-start;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.switch_darkMode {
    // width: 160px;
    width: 280px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    position: relative;
    justify-content: flex-start;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.innerWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & > div {
        width: 100%;
        padding: 0 2rem;
    }
    & > div:last-child {
        text-align: right;
    }
}

.switch[data-darkmode="true"],
.switch_darkMode[data-darkmode="true"] {
    justify-content: flex-end;
}

.mode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.mode[data-selected] {
    color: black;
    font-size: 14px;
}
.mode[data-selected="true"] {
    font-weight: bold;
    color: black;
    transition: font-weight 0.05s ease-in-out;
}

.handle {
    width: 130px;
    height: 27px;
    margin: auto 0;
    background-color: white;
    border-radius: 40px;
}
/* 토글 버튼 */

/* 페이지 넘김 */
.magazine {
    margin: 0 auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.magazine .page {
    height: 100%;
}

.magazine .page img {
    max-width: 100%;
    height: 100%;
}

/* 페이지 넘김 */

/* 스크롤 페이지 */
// 1. Main
.mainSection {
    .title {
        position:absolute;
        left: 50%;
        top: 12rem;
        font-weight: 600;
        transform: translate(-50%, -50%);
    }
    .introducion {
        position:absolute;
        white-space: pre-wrap;
        top: 35%;
        left: 15%;
        width: 100%;
        .services {
            font-size: 1.3rem;
            margin-top: 50px;
        }
    }
    .wrapImage {
        position:absolute;
        width: 20rem;
        height: 25rem;
        right: 5%;
        top: 50%;
        // border: solid burlywood;
        transform: translate(-50%, -50%);
    }
    .wrapImage > img {
        margin: 50% auto;
    }
}

// 2. Typography
.wrapParagraph {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
}

// 3. Scroll Icon
.scroll_icon {
    position: fixed;
    display: block;
    font-size: 0.933rem;
    text-decoration: none;
    bottom: 15%;
    right: 15%;
    &::before {
        display: block;
        position: absolute;
        top: -2px;
        left: 0;
        width: 24px;
        height: 40px;
        // border: 2px solid rgba(255,255,255,1);
        border: 3px solid rgba(98, 157, 16, 1);
        border-radius: 12px;
        content: "";
    }
    &::after {
        display: block;
        position: absolute;
        top: 9px;
        left: 11px;
        width: 3px;
        height: 8px;
        background: rgba(98, 157, 16, 1);
        border-radius: 3px;
        content: "";
        animation-name: scroll;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 2s;
    }
}

// 4. Dark mode switch button
.switch_container {
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 999;
}

.mini_right_button {
    position: relative;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(85, 81, 81, 0.4);
    border-radius: 1.4rem;
    align-items: center;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.mini_dark_button {
    position: relative;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.4rem;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// 5. pin sportlight GNB
.menu_bar {
    position: fixed;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* 스크롤 페이지 */
