/* 텍스트 활성화 */
.paragraph {
    font-size: 50px;
    max-width: 1280px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1;
    .word {
        margin-right: 12px;
        margin-top: 12px;
        position: relative;

        .shadow {
            position: absolute;
            opacity: 0.1;
        }
    }
}
/* 텍스트 활성화 */

/* 버튼 */
.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 링크 간의 간격 */
    padding-left: 20px; /* 좌측 여백 */
    margin-top: 20px; /* 상단 여백 */
}

.link {
    text-decoration: none;
    font-size: 18px; /* 텍스트 크기 */
    color: white;
    padding: 10px 0; /* 위아래 패딩 */
}
/* 버튼 */

/* 핀조명 */
// .menu_list {
//     margin:200px auto 0 auto;
//     width:350px;
// }

// .menu_item {
//     background: #000;
//     border:1px solid #eee;

//     ul{
//         display: flex
//     }

//     li{
//         position:relative;
//         width:100%;
//         height:100%;
//         cursor: pointer;
//         display:inline-block;
//         padding:30px;
//         display:flex;
//         align-items:center;
//         justify-content:center;
//     }
// }

// .underline {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 3px;
//     background: #eee;
//     vertical-align:bottom;
// }

/* 핀조명 */

.menu_list {
    margin:200px auto 0 auto;
    width:350px;
    
    position: relative;
  }

  .menu_item {
    background: #000;
    border:1px solid #eee;
  }
  
  .menu_item ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu_item li {
    position: relative;
    padding: 1.5em 1em;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    // text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  }
  
  .underline {
    --light-color: #ffeab1;
    position: absolute;
    bottom: -0.2em;
    left: 10%;
    right: 0;
    width: 80%;
    height: 2em;
    background-color: transparent;
    transform: translateX(-50%);
    z-index: 1;
    pointer-events: none;
    mix-blend-mode: screen;
    filter: blur(0.1em);
    opacity: 0.8;
  
    &::before {
      content: '';
      position: absolute;
      top: -30px;
      left : 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, var(--light-color), transparent);
      clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
      border-radius: 0 0 1em 1em;
    }
  }
  
  .menu_item li:hover {
    color: var(--light-color);
    text-shadow: 0 2px 8px rgba(255, 234, 177, 0.7);
  }
  